:root {
  --bg-color: #449dc9;
  --text-color: #111111;
}

body.night-mode {
  --bg-color: #311667;
  --text-color: #f1f1f1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#day-section {
  display: block;
}

#study-view {
  display: none;
}

#todo-view {
  display: none;
}

#notes-view {
  display: none;
}

#night-section {
  display: none;
}

body.night-mode #day-section {
  display: none;
}
body.night-mode #night-section {
  display: block;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}